.loader {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.loader-img {
	font-size: 4rem;
	line-height: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	animation: load 2s linear infinite;
}

@keyframes load {
	0% {
		transform: rotate(0deg);
	}
	50% {
		color: springgreen;
	}
	100% {
		transform: rotate(360deg);
		color: inherit;
	}
}