.card {
	padding: 20px;
	display: grid;
	gap: 10px;
	background-color: #fff;
	color: #222;
	border-radius: 4px;
	text-align: center;
	position: relative;
	align-content: space-between;

}

.card__img2 {
	height: 100px;
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	display: block;
}

.card__img {
	height: 100px;
	justify-self: center;
}
.card__btn {
	border: none;
	outline: none;
	height: 30px;
	background-color: #dfa0a6;
	color: #fff;
	border-radius: 4px;
	cursor: pointer;
}
.card__btn:hover {
	background-color: #777;
}

.card__btn:disabled {
	opacity: .6;
	cursor: default;
}

.card__discount {
	position: absolute;
	top: 10px;
	left: 10px;
	background-color: pink;
	padding: 4px;
	border-radius: 4px;
	display: flex;
	align-items: center;
}

.card__like {
	color: crimson;
	position: absolute;
	top: 10px;
	right: 10px;
	padding: 4px;
	cursor: pointer;
}
