body {
	background-color: #fff;
  color: #000;
	margin: 0 ;
	font-family: sans-serif;
}

h1, h2, h3 {
	margin: 0;
}

a {
	color: inherit;
	text-decoration: none;
}

#root {
	min-height: 100vh;
	display: grid;
	grid-template-rows: auto 1fr auto;
}

main {
	padding: 30px 50px;
	display: grid;
	align-content: flex-start;
	gap: 20px;
}

.container {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 20px;
}

.container .search-block {
	grid-column-end: span 4;
}

.container.bs {
	display: block;
}

table {
	width: 100%;
	background-color: white;
	color: #222;
	border-radius: 1rem;
	overflow: hidden;
}

td {
	padding: .6 rem 1rem;
}

td:first-child {
	text-align: center;
}

thead {
	text-align: center;
	font-weight: bold;
	background-color: #dfa0a6;

	

}

tbody td {
	border-bottom: 1px solid silver;
}

tfoot {
	background-color: #dfa0a6;

}

tfoot td {
	vertical-align: bottom;
	line-height: 1;
}

tfoot td:first-child {
	text-align: right;
	text-transform: uppercase;
	vertical-align: bottom;
}

tfoot td:last-child {
font-size: 2em;
font-weight: bold;
}

tfoot del {
	padding-left: 10px;
	font-size: .8em;
	color: gray;
}